<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <arg name="verbose" value="true" />
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <!-- Spawn one robot-->
  <group ns="$(eval 'ugv' + str(arg('n_ugvs')))" >
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x $(arg n_ugvs) -y 1 -z 0"/>
      <arg name="robot_name"  value="$(eval 'ugv' + str(arg('n_ugvs')))" />
    </include>
  </group>


  <!-- recursively start new UgV -->
  <include file="$(find multi_robot)/launch/robots.launch" if="$(eval arg('n_ugvs') - 1 > 0)">
      <arg name="n_ugvs" value="$(eval arg('n_ugvs') - 1)"/>
  </include>
</launch>
